body, html {
    height: 100%;
    margin: 0;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-image: url("./images/background-img-blur-dark.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fffbda;
    color: #fffbda;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


h1 {
    text-shadow: 2px 0 #232931;
    font-size: 3rem;
}

hr {
    color: #fffbda;
    width: 40%
}

#errors {
    text-shadow: 1px 0 #232931;
    margin-top: 2%;
}

#error-count{
    color: rgb(255, 0, 111);
}

#board {
    height: 450px;
    width: 450px;
    background-color: #fffbda;
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;
}

.tile {
    height: 48px;
    width: 48px;
    border: 1px solid rgb(187, 187, 187);

    color: #232931;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-start {
    background-color: #e9e5c7;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

.error-blink{	
    animation-name:blink;
    animation-duration:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
    }
  
  @keyframes blink{
    0%{color:rgb(255, 0, 111);}
    50%{color:white;}
    100%{color:rgb(255, 0, 111);}
}

#digits {
    height: 50px;
    width: 450px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.number {
    height: 44px;
    width: 44px;
    border: 1px solid rgb(0, 0, 0);

    background-color: #fffbda;
    color: #232931;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.number-selected {
    background-color: gray;
}


@media only screen and (max-width: 1000px) {
    #board {
        width: 80%;
        border: 0.22%;
    }
    #board:after {
        content: "";
        display: block;
        padding-bottom: 80%;
    }

    .tile {
        width: 10.67%;
        border: 0.22%;
        font-size: 1rem;
    }

    .tile:after {
        content: "";
        display: block;
        padding-bottom: 80%;
    }

    .number {
        width: 9.78%;
        margin: 0.44%;
        font-size: 1rem;
    }
    .number:after {
        content: "";
        display: block;
        padding-bottom: 80%;
    }

    #digits {
        width: 90%;
        border: 0.22%;
    }

    #digits:after {
        content: "";
        display: block;
        padding-bottom: 11.11%;
    }

}


footer {
    margin: 5% auto;
    text-shadow: 1px 0 #232931;
}
